div {direction:rtl;text-align: center;}
.minus{background-color:red}
table {width: 50%;}
caption{font-size: 25px; font-weight: bold;}
p{font-size: 30px; background-color:yellow;}  
th{font-size: 20px;}