<div>
    <label for="crntpwd">סיסמא נוכחית</label>
    <input required type="password" id="crntpwd" [(ngModel)]="crntPwd" /><br />
    <label for="nwpwd">סיסמא מבוקשת</label>
    <input required type="password" id="nwpwd" [(ngModel)]="nwPwd" /><br />
    <label for="nw2pwd">וידוא סיסמא מבוקשת</label>
    <input required type="password" id="nw2pwd" [(ngModel)]="reNwPwd" /><br />
    <button (click)="updIt()">שמור שינוי סיסמא</button>

    <a *ngIf="jobDone" routerLink="/AccountLogin">שינוי הסיסמא הצליח! הקש כאן לכניסה מחדש למערכת</a>
</div>