<span *ngIf="!edit" dir=rtl>
    בעל החשבון: {{owner.name}}
</span>
<img [src]="(owner.hasPicture)?'assets/images/'+owner.tz+'.png':'assets/images/noImage.png'" height="80" >
<div *ngIf="edit" dir=rtl>
    <label for=shem>שם:</label>
    <input type=text id=shem [(ngModel)]="owner.name">
    <br>
    <label for=adrs>כתובת:</label>
    <input type=text id=adrs [(ngModel)]="owner.address">
    <br>
    <label for=tzNum>תז:</label>
    <input type=number id=tzNum value={{owner.tz}} disabled>
    <br>
    <label for=pic>יש תמונה:</label>
    <input type=checkbox id=pic [(ngModel)]="owner.hasPicture">
    <br>
</div>